/* @override http://rms.site/css/style.css */

/* @group Reset */

/* v1.0 | 20080212 | meyerweb CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym,
 address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, ul, dl, dt, dd, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********** End of Reset **************/

/* @end */

/*
******** Colors *********
* 
* Dark Gray: #3C3F36
* Off White: #FEFFFF
* Tan: #EBE9DC
* Green: #72918B
* Bright Green: #9FB03E
*
*************************
*/

html {
	background-color: #EBE9DC;
}

body {
	width: 700px; /*856px*/
	margin: auto;
	font: 18px/1.444em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-top: 144px;
	margin-bottom: 130px;
	padding-left: 52px;
	padding-right: 52px;
	padding-top: 3em;
	background: #FEFFFF;
	color: #3C3F36;
}


#logo {
	position: absolute;
	top: 79px;
	margin-left: -98px;
}

#logo:hover {
	opacity: 0.8;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	line-height: 1.444em;
	margin-top: 0.72em;
	margin-bottom: 0.722em;
	text-transform: none;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.444em;
	line-height: 1.444em;
	margin-bottom: 0.5em;
	border-bottom: 2px solid #72918B;
}

a {
	color: #72918B;
}

a:hover {
	text-decoration: none;
}

p {
	font-size: 1em;
	margin-bottom: 1em;
}

hr {
	clear: both;
	border: none;
	border-bottom: 2px solid #72918B;
	padding-top: 1em;
}

ul {
	margin-left: 26px;
	margin-bottom: 1em;
}

dl {
	margin-bottom: 1.444em;
}

dt {
	font-weight: bold;
}

.small {
	font-size: 0.722em;
	line-height: 2em;
}

.error {
	color: #F00;
}

h2#menu {
	width: 40%;
	margin-top: 0.72em;
}

input[type="checkbox"] {
	clear: both;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}

input[type="submit"] {
	margin-top: 1em;
}

label {
	display: block;
}

table {
	border: 1px solid ;
	margin-top: 1em;
}

th {
	background-color: #72918B;
	border: 1px solid #000;
	padding: 13px;
	color: #FEFFFF;
}

td {
	border: 1px solid;
	padding: 13px;
}

td.center {
	text-align: center;
}

/* FORMS */

fieldset {
	border: 2px solid #72918B;	
	padding: 18px 26px;
	width: 70%;
}

fieldset#signin {
	float: right;
	width: 320px;
	padding: 10px 26px 0;
}

fieldset#signin h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.444em;
	font-weight: bold;
	line-height: 2em;
	margin: 0;
	border: none;
}

fieldset#signin table {
	margin: auto;
	border: none;
	margin-bottom: 1.444em;
}

fieldset#signin th, fieldset#signin td {
	padding: 2px;
	line-height: 1em;
}

fieldset label {
	display: block;
	float: left;
	line-height: 2.888em;
	clear: both;
}

fieldset#signin label {
	width: 20%;
}

fieldset input {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	margin-top: 0.722em;
	height: 1.444em;
	vertical-align: middle;
	float: right;
	width: 60%;
	clear: right;
}

fieldset textarea {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	margin-top: 0.722em;
	margin-bottom: 0.722em;
	float: right;
	width: 60%;
}

fieldset#signin input {
	width: 68%;
}

fieldset input[type="submit"] {
	clear: both;
	float: right;
	width: 100px;
	margin: 0;
	margin-bottom: 18px;
}

fieldset select {
	float: right;
	margin-top: 1.444em;
}

fieldset#signin input[type="submit"] {
	clear: both;
	width: 100px;
	margin-top: 0.722em;
	float: right;
}

fieldset#signin p {
	clear: left;
	font-size: 0.722em;
	line-height: 4em;
}

fieldset h3 {
	clear: both;
}

/* Nav */

ul#nav {
	list-style-type: none;
	margin-left: 0;
}

/* Select Vendor */

#standard {
	float: left;
	width: 48%;
	margin-bottom: 1em;
}

#additional {
	float: left;
	width: 48%;
	margin-left: 26px;
	margin-bottom: 1em;
}

#additional input {
	margin-top: 6px;
	margin-right: 6px;
}

.vendor {
	background-color: #EBE9DC;
	padding: 26px;
	margin-top: 2em;
	min-height: 10em;
	clear: both;
}

.vendor h3 {
	font-size: 1.444em;
	margin-bottom: 0.722em;
}

.vendor p {
	margin: 0;
	
}

.vendor img {
	float: right;
	border: 4px solid #72918B;
	margin-left: 18px;
}

.vendor input[type="submit"] {
	margin-top: 0;
}

p.qualifications {
	margin-top: 1em;
	margin-bottom: 1em;
}

p.price {
	font-size: 1.222em;
}

.v-select {
	float: right;
	clear: both;
	margin-top: 1em;
}

/* Order */

p#next {
	text-align: right;
	font-size: 1.5em;
}

p#cancel {
	position: absolute;
	font-size: 1.5em;
}

/* Vendor Dashboard */

form#ordersup {
	margin-bottom: 1.444em;
}

.vimg {
	border: 4px solid #72918B;
}

/* Admin Dashboard */

.barGraph {
	border-bottom: 1px solid #3C3F36;
	height: 200px;
	width: 468px;
	margin: 0;
	margin-top: 2em;
	padding: 0;
	position: relative;
}

.barGraph li {
	background: #72918B;
	border-bottom: none;
	bottom: 0; 
	color: #FFF;
	margin: 0; 
	padding: 0 0 0 0;
	position: absolute;
	list-style: none;
	text-align: center;
	width: 72px;
}

.legend {
	padding: 0;
	margin: 0;
	position: relative;
	height: 2em;
}

.legend li {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 72px;
}

p.htitle {
	width: 468px;
	text-align: center;
	font-weight: bold;
}

/* Logout */

.logout {
	position: absolute;
	top: 0;
	right: 26px;
}

/* Footer */

#footer {
	clear: both;
	font-size: 0.722em;
	line-height: 4em;
	margin-top: 2em;
	border-top: 2px #72918B solid;
	text-align: right;
}

/*!
 * jQuery UI Stars v2.1.1
 * http://plugins.jquery.com/project/Star_Rating_widget
 *
 * Copyright (c) 2009 Orkan (orkans@gmail.com)
 * Dual licensed under the MIT and GPL licenses.
 * http://docs.jquery.com/License
 *
 * $Rev: 102 $
 * $Date:: 2009-06-07 #$
 * $Build: 32 (2009-06-12)
 *
 */
.stars {
	display: inline-block;
}
 
.ui-stars-star {
	float: left;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;
}

.ui-stars-cancel {
	display: none;
}
.ui-stars-star a,
.ui-stars-cancel a {
	width: 16px;
	height: 15px;
	display: block;
	background: url(/images/ui.stars.gif) no-repeat 0 0;
}
.ui-stars-star a {
	background-position: 0 -32px;
}
.ui-stars-star-on a {
	background-position: 0 -48px;
}
.ui-stars-star-hover a {
	background-position: 0 -64px;
}
.ui-stars-cancel-hover a {
	background-position: 0 -16px;
}
.ui-stars-star-disabled,
.ui-stars-star-disabled a,
.ui-stars-cancel-disabled a {
	cursor: default !important;
}

#loader-host {
	display: none;
}

#loader-waiter {
	display: none;
}

#loader-cook {
	display: none;
}

#loader-busboy {
	display: none;
}